<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.project.DO.PositionDataPermissionDO">

    <resultMap id="BaseResultMap" type="com.zeroone.star.project.DO.PositionDataPermissionDO">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="positionId" column="position_id" jdbcType="BIGINT"/>
            <result property="scopeType" column="scope_type" jdbcType="TINYINT"/>
            <result property="entityName" column="entity_name" jdbcType="VARCHAR"/>
            <result property="ownerField" column="owner_field" jdbcType="VARCHAR"/>
            <result property="info" column="info" jdbcType="VARCHAR"/>
            <result property="ownerOrgField" column="owner_org_field" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,position_id,scope_type,
        entity_name,owner_field,info,
        owner_org_field
    </sql>
</mapper>
