<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeroone.star.project.j1.orgmanager.mapper.staff.StaffPositionMapper">

    <resultMap id="StaffPositionResultMap" type="com.zeroone.star.project.DO.StaffPosition">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="add_time" property="addTime"/>
        <result column="edit_time" property="editTime"/>
        <result column="creator" property="creator"/>
        <result column="editor" property="editor"/>
    </resultMap>


</mapper>