<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.academic.mapper.ClassroomMapper">
    <select id="getList" resultType="com.zeroone.star.project.vo.j4.academic.ClassroomVO">
        select
        c.id,
        c.name,
        c.address,
        c.area,
        c.remark,
        c.creator,
        c.add_time as addTime,
        c.editor,
        c.edit_time as editTime,
        c.school_id as schoolId
        from classroom c
        <where>
            <if test="query.name != null and query.name != ''">
                and c.name like concat('%', #{query.name}, '%')
            </if>
            and c.deleted != 1
        </where>
        order by c.add_time desc, c.id desc
    </select>

</mapper>
